Source: ros-jade-tiny-slam
Section: misc
Priority: extra
Maintainer: OSLL <ros@osll.ru>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-message-filters, ros-jade-rosbag-storage, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-std-msgs, ros-jade-tf
Homepage: http://wiki.ros.org/tiny_slam
Standards-Version: 3.9.2

Package: ros-jade-tiny-slam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-message-filters, ros-jade-rosbag-storage, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-std-msgs, ros-jade-tf
Description: TinySLAM ROS implementation
